* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* WHATSAPP LOGO */
.whatsapp-logo {
    width: clamp(10px, 10vw, 50px);
    position: fixed;
    bottom: clamp(6px, 6vw, 30px);
    right: clamp(4px, 6vw, 20px);
    z-index: 52;
}


/* HEADER */
.sale-tag {
    background-color: black;
    padding: 12px;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    font-size: clamp(8px, 2vw, 16px);
    font-style: italic;
    animation: fade 1s cubic-bezier(0.87, -0.35, 0.87, 0.26) infinite;
}

@keyframes fade {
    0% {
        color: white;
    }

    50% {
        color: transparent;
    }

    100% {
        color: white;
    }
}

.logo {
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
    height: clamp(10px, 20vw, 100px);
    position: relative;
}

.logo-wrapper {
    margin: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper img {
    width: 60%;
}

/* HAM_BURGER MENU */
.ham-burger {
    height: clamp(4px, 10vw, 40px);
    width: clamp(4px, 10vw, 40px);
    position: absolute;
    left: clamp(0px, 2vw, 20px);
    top: 50%;
    transform: translate(0, -50%);
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1px, 2vw, 10px);
    display: none;
    border: none;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    height: 100%;
    width: clamp(20px, 100vw, 240px);
    padding: 50px clamp(6px, 10vw, 20px) 0;
    transform: translate(-100%);
    z-index: 53;
    transition: transform 200ms ease;
}

.menu-appear {
    transform: translate(0);
}

.menu-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(10px, 16vw, 20px);
}

.menu ul li i {
    font-size: clamp(2px, 6vw, 10px);
    position: absolute;
    top: 40%;
    right: 46%;
    transition: rotate 400ms ease;
}

.menu-icon-rotate {
    rotate: 180deg;
}

.menu i {
    color: white;
}

.menu-heading i {
    font-size: clamp(4px, 10vw , 16px);
    cursor: pointer;
}

.menu h2 {
    color: white;
    font-size: clamp(4px, 14vw , 22px);
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu ul li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: clamp(4px, 10vw , 16px);
}

.menu ul li {
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 14px;
    transition: background-color 400ms ease, color 400ms ease;
}

.menu-category li a {
    font-size: clamp(4px, 10vw, 14px);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(225, 225, 225);
    margin-left: 10px;
    transition: color 400ms ease;
}

.menu-category li:hover a {
    color: white;
}

ul.menu-category {
    display: none;
}

ul.menu-category.cat-appear {
    display: block;
}

.menu-search-bar {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
}

.menu-search-bar i {
    color: black;
    width: 30px;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-search-bar input {
    border: none;
    padding: 0 10px;
    outline: none;
    width: 100%;
    height: 100%;
}

.menu-user {
    position: absolute;
    bottom: 10px;
}

.bar {
    width: 70%;
    height: 5%;
    background-color: black;
    border-radius: 20px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: clamp(6px, 2vw, 24px);
    height: 66px;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(64px);
    z-index: 10;
    background-color: rgb(240, 240, 240);
    padding: 10px 20px 10px 10px;
}

.header-icons i {
    font-size: clamp(10px, 5vw, 20px);
    cursor: pointer;
}

.header-icons a {
    color: black;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    margin-right: px;
}

.search-bar input {
    height: 46px;
    width: 250px;
    border: 1px solid rgb(219, 219, 219);
    padding: 6px 10px;
    font-size: 18px;
    outline: none;
}

.icons p {
    color: white;
    background-color: black;
    font-size: 12px;
    border-radius: 2px;
    padding: 5px 10px;
    position: absolute;
    top: -16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease, top 400ms ease;
}

.icons:hover p {
    top: -22px;
    opacity: 1;
    visibility: visible;
}


/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    height: 64px;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0 8px rgb(220, 220, 220);
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
    list-style: none;
    flex-wrap: wrap;
}
nav ul li {
    position: relative;
}

#nav-link {
    margin: auto;
}

.return:hover a {
    color: blue;
    text-decoration: underline;
}

.return a:active {
    color: blue;
}

nav ul li i {
    font-size: 10px;
}

nav ul  li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    transition: color 300ms ease;
}

nav ul li a:hover {
    color: #e35724;
}

#contact-link {
    background-color: #E66234;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    transition: background-color 200ms ease;
}

#contact-link:active {
    background-color: #b53c11;
}

.nav-categories {
    position: absolute;
    top: 30px;
    left: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100px;
    width: 200px;
    padding: 0 20px;
    background: white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease 200ms;
}

nav ul li:hover .nav-categories {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 10px);
}

/* FOOTER */

.footer {
    margin-top: clamp(14px, 10vw, 60px);
    background-color: black;
    color: #c9c9c9;
    font-family: 'Poppins', sans-serif;
    padding: clamp(2px, 10vw, 50px) clamp(2px, 10vw, 20px) clamp(2px, 10vw, 20px);
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .footer-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.footer-col h2 {
    color: white;
    margin-bottom: clamp(0px, 10vw, 20px);
    font-size: clamp(4px, 6vw, 1.1rem);
}

.footer-col ul {
    list-style: none;
    padding: 0;
    line-height: clamp(10px, 10vw, 38px);
}

.footer-col ul li {
    transition: transform 200ms ease-in-out;
}

.footer-col a {
    color: rgb(178, 178, 178);
    text-decoration: none;
    transition: color 200ms ease;
}

.footer-col li:hover a {
    color: white;
}

.footer-col ul li:hover {
    transform: translate(10px) scale(1.04);
}

.footer-logo {
    width: clamp( 20px, 90vw, 250px);
    margin-bottom: 10px;
}

.newsletter {
    display: flex;
    margin: 30px 0;
}

.newsletter input {
    flex: 1;
    padding: clamp(1px, 10vw ,16px);
    font-size: clamp(4px, 10vw, 14px);
    border: none;
    outline: none;
    border-radius: 14px 0 0 0;
}

.newsletter button {
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.324));
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.381);
    padding: clamp(1px, 6vw, 12px) clamp(1px, 6vw, 16px);
    font-size: clamp(4px, 10vw, 14px);
    border-radius: 0 0 14px 0;
    cursor: pointer;
    transition: box-shadow 300ms ease;
}

.newsletter button:hover {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
}

.contact-info p {
    margin: 6px 0;
    font-size: 0.9rem;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding-top: 15px;
    margin-top: 30px;
    font-size: 0.85rem;
    color: #aaa;
}