* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

/* OFFICE CHAIRS STARTED  */
main h2 {
    padding: 30px 0;
    text-align: center;
    font-size: clamp(8px, 10vw, 2rem);
    font-weight: 500;
    background: linear-gradient(rgb(0, 0, 0), black, rgb(3, 142, 98), rgb(13, 128, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row1,.row2,.row3{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.product {
    width: 280px;
}

.card-wrapper {
    position: relative;
    overflow: hidden;
}

.product img {
    width: 100%;
    height: 100%;
}

.hover {
    position: absolute;
    left: 0;  
    opacity: 0;
    transition: all 400ms ease-in;  
}

.card-wrapper:hover .hover {
    opacity: 1;
}

.wishlist-icons {
    position: absolute;
    top: 10px;
    right: 0;
    height: 36px;
    width: 36px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    box-shadow: -1px 2px 8px 2px rgba(0, 0, 0, 0.272);
    transition: right 400ms ease, opacity 400ms ease;
}

.card-wrapper:hover .wishlist-icons {
    right: 10px;
    opacity: 1;
}

.wishlist-icons img {
    width: 16px;
    position: absolute;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.show-2 {
    visibility: visible;
    animation: beat 400ms cubic-bezier(0.04, 0.4, 0.5, 0.95) forwards;
}

@keyframes beat {
    0% {
        transform: scale(0.6);
    }

    40% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

/* WISHLIST POPUP MESSAGE */

.popup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup div {
    padding: 10px 13px;
    font-size: clamp(6px, 4vw, 12px);
    color: white;
    letter-spacing: 2px;
    opacity: 0;
    display: flex;
    align-items: center;
}

.popup span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.popup-img-1 {
    height: 16px;
    width: 16px;
    filter: invert(100%);
}

.popup-img-2 {
    height: 16px;
    width: 16px;
    transform: scale(1.6);
    filter: invert(100%);
    padding: 2px 6px 0 0;
    margin-left: 4px;
}

.popup-para-1 {
    background-color: green;
    position: absolute;
    border-radius: 2px;
}

.popup-para-2 {
    background-color: red;
    border-radius: 2px;
}

.popup-para-show {
    animation: popup 2s ease-in-out;
}


@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10% {
        opacity: 1;
        transform: translateY(10px);
    }

    90% {
        opacity: 1;
        transform: translateY(10px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

/* .wishlist-heart {
    position: absolute;
    line-height: 40px;
    border-radius: 50%;
    left: 235px;
    top: 10px;
    width: 40px;
    height: 40px;
    color: black;
    background-color: white;
    font-size: clamp(8px, 10vw, 1.4rem);
    transition: all 300ms ease-in;
    box-shadow: 0px 0px 6px 0px ;
    cursor: pointer;
    opacity: 0;
}

.card-wrapper:hover .wishlist-heart {
    opacity: 1;
    transform: translatex(-15px);
}

.wishlist-heart:hover {
    color: white;
    background: linear-gradient(rgb(0, 0, 0), black, rgb(3, 142, 98), rgb(13, 128, 0));
    transition: none;
} */



.para-new {
    color: red;
    font-size: clamp(4px, 10vw, 12px);
}

.para-product-name {
    font-size: clamp(4px, 10vw, 12px);
    color: rgb(60, 60, 60);
}

.para-product-price {
    font-size: clamp(6px, 10vw, 15px);
    font-weight: 600;
    margin-top: 2px;
}
/* OFFICE CHAIRS ENDED */

/* MANAGER TABLES ABOUT STARTED */
.about h2 {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 25px;
}

.about p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 clamp(0px, 10vw, 30px);
    font-size: clamp(4px, 10vw, 16px);
}

/* MANAGER TABLES ABOUT ENDED */